div#subjects_list p {
	font-size: 120%;
}
form.pieform table {
	float: right;
}
form#addlearnedlanguage table {
    float: left;
}
table#checklist th {
	color: #666;
}
td.radio {
    white-space: nowrap;
}

/** Customgoal specific **/

form.pieform.customgoal table {
	float: none;
}

div#customgoal {
	margin-top: 10px;
	width: 100%;
}

div.customgoalText {
	width: 100%;
	height: 100%;
}

div.resizable-textarea {
	width: 500px;
}

textarea.customgoalta {
	float: left;
	width: 100%;
}

/** End: Customgoal specific **/
