@import "utilities/bootstrap-variables"; 

td img {
    width: auto;
    max-width: none;
}

.btn {
    padding: 4px 10px 5px 10px;
    font-size: 1.167em;
    font-size: 1.167em;
}

.table-sm .levels {
    margin: 15px 0;
}

// .btn-print,
#customgoalform,
table.evaluation thead,
// table.evaluation tbody tr td.level-grid,
 {
    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

table.evaluation tbody tr td.selected,
{
    @media (max-width: $screen-xs-max) {
        display: table-cell;
    }
}

.evaluation-table>.table-sm {
    display: none;
}

.btn.btn-add-compentence
{
    display: none;
    @media (max-width: $screen-xs-max) {
        display: block;
    }
}

.btn-add-compentence {
    margin: 30px 0;
}

.modal-dialog .modal-body form {
    label {
        font-size: 12px;
        min-width: 180px;
        width: 180px;
        font-weight: bold;
    }
    input[type=text], textarea {
        font-size: 12px;
        width: 100%;
        max-width: 100%;
    }
}

.progressbar {
    height: 26px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #AAAAAA;
    background-color: white;
}
 
.progressbar-value {
    background: url("") repeat-x scroll 50% 50% #CCCCCC;
    height: 100%;
    margin: -1px;
    position: absolute;
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    overflow: hidden;
}

.progressbar-content {
    padding: 6px 15px;
    position: absolute;
    color: #333;
}

a label {
    cursor: pointer;
}

/* self-evalutaion */
div#subjects_list{
    margin-top: 30px;
    max-width: 100%;
    display:inline-block;
    form select {
        max-width: 100%;
        width: fit-content;
    }
    p {
        font-size: 120%;
    }
}

form#addlearnedlanguage table {
    float: left;
}
td.radio {
    white-space: nowrap;
    label {
        padding: 0 15px 0 12px;
    }
}

#evaluation .rbuttons {
    margin-top: 0px;
}

#description_content {
    display:none;
    position: absolute; 
    top: 300px; 
    margin-left: auto;
    margin-right: auto;
    min-height: 210px;
    max-width: 350px;
    max-height: 300px;
    left: 0px;
    right: 0px;
    padding: 10px;
    overflow: auto;
    background-color: #FFFFFF;
    border: 1px solid #2d2d2d;
    z-index: 2000
}

#description_icon {
    margin-left:5px; 
}

/** Customgoal **/

#customgoalform {
    border-top: 1px solid #eee;
    margin-top: 30px;
}

#customgoalform .text, #customgoalform .textarea {
    max-width: 100%;
    width: 565px;
}

form.pieform.customgoal table {
    float: none;
    width: 100%;
}

div#customgoal {
    margin-top: 10px;
    width: 100%;
}

div.customgoalText {
    width: 100%;
    height: 100%;
}

div.resizable-textarea {
    width: 500px;
}

textarea.customgoalta {
    float: left;
    width: 100%;
    rows: 5;
}

div.grippie {
    height: 0px;
    visibility: hidden;
}

#addcustomgoal_submit {
    margin: 0px;
}


/* evaluations list */

#evaluationslist {
    margin-bottom: 12px;
}

/* evaluation */

table.evaluation {
    width: 100%;
    table-layout:fixed;
}

table.evaluation th, table.evaluation td {
    white-space: normal;
}

table.evaluation .column_0 {
    max-width: 30%;
}

.evaluationform {
    h2 {
        font-size: 130%;
        margin-top: 0.5em;
    }
    table>tbody>tr>th,{
        border-top: none;
    }
    form.pieform td .radio-wrapper{
        white-space: nowrap;
        .radio{
            display: inline;
            input[type="radio"] {
                margin-top: 5px;
            }
        }
        .radio:first-child > label{
            padding-left: 15px;
        }
    }
}

.interactive {
    cursor: pointer;
}

.evaluation-submit {
    margin-top: 15px;
}

table.evaluation td {
    vertical-align: middle;
}

table.evaluation tr.r0 td.custom {
    background-color: #dee8fa;
}

table.evaluation tr.r1 td.custom {
    background-color: #f3f5fd;
}

#example-popup-frame {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
}

#example-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -180px;
    width: 480px;
    height: 360px;
    padding: 10px;
    background: white;
    border: 1px solid black;
}

#example-popup input {
    position: absolute;
    top: 10px;
    right: 10px;
}

#example-popup iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* print evaluation */

body.print {
    background-color: #FFF;
    color: #333;
    font-size: .8em;
}

.print tr.odd {
    background-color: #EEE;
}

.print tr.even {
    background-color: #F9F9F9;
}

.print td {
    vertical-align: middle;
    min-width: 40px;
}

.print .progressbar {
    border: 1px solid #333;
}

.print .progressbar-value {
    border: 0;
    margin: 0;
}

.print .progressbar-content {
    padding: 6px;
}

.print #legend {
    border: 1px solid #AAA;
    width: 400px;
    font-size: 85%;
    padding: 0 10px;
    margin: 15px;
}

.print #legend .caption {
    background-color: white;
    position: relative;
    top: -7px;
    padding: 3px;
}

#print-tools {
    margin: 20px;
    padding: 10px;
    /*background-color: #FBFDF1;
    border: 1px solid #AAA;*/
    float: right;
}

@media print {

    .dontprint {
       display: none;
    }
    
    body.print {
        padding: 0;
    }

}

/* stored evaluations */

#store_evaluation {
    margin-top: 20px;
}

#store_evaluation_name {
    width: 350px;
    margin: 10px 0;
}

table.stored_evaluations {
    width: 100%;
}

table.stored_evaluations thead {
    color: gray;
}

.stored_evaluations td {
    padding: 3px 10px;
}

.stored_evaluations td.selectors {
    text-align: center;
}

.stored_evaluations td .evaluation-id {
    display: none;
}

.stored_evaluations td .evaluation-title {
    display: none;
}

/* external evaluations */

.eval-request {
    padding: 5px;
}

.eval-request .left {
    float: left;
    width: 32px;
}

.eval-request .left img {
    margin-top: 4px;
}

.eval-request .main {
    margin-left: 32px;
}

.eval-request .main span,
.eval-request .main a {
    vertical-align: baseline;
}

.eval-request .main p {
    text-align: left;
    margin: 8px 0px 2px 0px;
}

.eval-request .main p.request {
    margin-top: 8px;
    vertical-align: baseline;
}

.eval-request .main .evaluationtitle {
    font-size: 110%;
    font-weight: bold;
}

.eval-request .main .message {
    padding: 6px;
    background-color: transparent;
    font-style: italic;
}

.eval-request .tools {
    float: right;
    padding-left: 6px;
}

/* comparison */

#other.comparison form {
    display: inline;
}

table.comparison.results {
    width: 100%;
    table-layout:fixed;
    margin-top: 20px;
}

.comparison td.progress {
    padding: 2px 5px;
}

.comparison th.column_0 {
    width: 30%;
}

.comparison div.progressbar {
    margin: 2px 0;
    height: 15px;
}

table.comparison.legend tr {
    border-collapse:collapse;
}

.comparison.legend tr {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
